body{
  background-color:#fff;
}
h1{
  text-align:center;
  color:green;
  font-style: oblique;
}
h3{
  text-align: left;
}
p{
  text-align:justify;
}

.flex-container {
         display: flex;
         flex-direction:row;
         align-items: center;
         flex-wrap: wrap;
         }
         .flex-item {
        height: auto;
        width: 15%;
        margin: 3px;
        padding: 10px 0 0 10px;

        }
.img{
  float:left;
  width:70%;
  height:auto;
  margin:15%;
}
.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
@media only screen and (max-width:768px) {
  .img {
    width:80%;
  }
  .flex-item {
          height: auto;
          width: 100%;
          margin: 3px;
          padding: 10px 0 0 10px;
          }
}
@media only screen and (max-width:1024px) {
  .img {
    width:80%;
  }
  .flex-item {
          height: auto;
          width: 100%;
          margin: 3px;
          padding: 10px 0 0 10px;
          }
}
